.editPostContainer {
    margin-top: 100px;
    margin-bottom: 100px;
}

.editPostForm {
    width: 80%;

    margin: 0 auto;
}

.editPostFormLabelText {
    display: block;

    text-align: left;

    margin-top: 16px;
    margin-bottom: 16px;

    font-size: 15px;
    font-weight: bold;
}

.editPostFormInput {
    box-sizing: border-box;

    width: 100%;
    height: 33px;

    border-radius: 4px;
}

.editPostFormTextarea {
    box-sizing: border-box;

    width: 100%;
    height: 500px;

    border-radius: 4px;
}

.editPostFormInputImageContainer {
    margin-bottom: 16px;

    text-align: left;
}
