.signUpContainer {
    margin-top: 100px;
    margin-bottom: 100px;
}

.signUpForm {
    width: 50%;

    margin: 0 auto;
}

.signUpFormUserImageInput {
    display: none;
}

.signUpFormLabelImage {
    width: 149px;
    height: 149px;

    /* 원 모양*/
    border-radius: 50%;

    /* 이미지 경계 벗어나면 숨기기 */
    overflow: hidden;
}

.signUpFormLabelText {
    display: block;

    text-align: left;

    margin-top: 16px;
    margin-bottom: 16px;

    font-size: 15px;
    font-weight: bold;
}

.moveSignInText {
    font-size: 14px;
    color: black;
    text-decoration: none;
}
