.SimplePostWrap {
    width: 80%;

    margin: auto;
}

.simplePostContainerTitle {
    margin-top: 5px;
    margin-bottom: 5px;

    font-size: 24px;
}

.moveEditButtonContainer {
    text-align: right;
}

.moveEditButton {
    margin: 5px 10px 5px 5px;

    width: 138px;
    height: 39px;

    border: none;
    border-radius: 16px;

    background-color: #aca0eb;

    color: #ffffff;
    font-size: 16px;
}